@model Appointment

<h2>Edit Appointment</h2>

@using (Html.BeginForm("EditAppointment", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id) <!-- Hidden field for appointmentId -->
    
    <div class="form-group">
        @Html.LabelFor(model => model.AppointmentDate)
        @Html.TextBoxFor(model => model.AppointmentDate, new { @class = "form-control" })
    </div>
    
    @Html.HiddenFor(model => model.patient.id) 

    <div class="form-group" >
        @Html.LabelFor(model => model.patient.name)
        @Html.TextBoxFor(model => model.patient.name, new { @class = "form-control",@disabled = "disabled" })
    </div>
    @Html.HiddenFor(model => model.patient.phonenumber)


    @Html.HiddenFor(model => model.doctor.id)

    @Html.HiddenFor(model => model.doctor.name)



    <div class="form-group">
        @Html.LabelFor(model => model.Reason)
        @Html.TextBoxFor(model => model.Reason, new { @class = "form-control" })
    </div>

 

    <div class="form-group">
        @Html.LabelFor(model => model.isVisited)
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(model => model.isVisited)
                @Html.DisplayNameFor(model => model.isVisited)
            </label>
        </div>
    </div>



    <!-- Add more input fields for other appointment properties as needed -->
    
    <button type="submit" class="btn btn-primary">Save</button>
}
